:root {
  --darkred: #8b0000;
  --darkgreen: #006400;
  --white: #ffffff;
  --pastelblue: #f1f4ff;
  --SeaGreen: #2e8b57;
  --black: #000;
  --fontsize: 1.2em;
  --fontweight: 400;
  --fontfamily: "Poppins", sans-serif;
  --displygrid: grid;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: var(--displygrid);
  place-items: center;
  height: 100vh;
  color: var(--white);
  background-color: var(--pastelblue);
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  font-weight: var(--fontweight);
}
.calculator {
  background-color: var(--SeaGreen);
  display: var(--displygrid);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 350px;
  height: 480px;
  border-radius: 8px;
  padding: 12px;
  z-index: 1;
}
#display {
  grid-column: span 3;
  padding: 18px 12px;
  font-size: var(--fontsize);
  text-align: right;
  margin-bottom: 18px;
  border: none;
  outline: none;
}
button {
  padding: 8px;
  font-size: var(--fontsize);
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 4px;
}

#clearDisplay {
  background-color: var(--darkred);
}

#calculateResult {
  background-color: var(--darkgreen);
  grid-row: span 2;
}
